
@import 'twitter/bootstrap';
body { padding-top: 6em }
@import 'twitter/bootstrap/responsive';

footer#site-footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid $grayLighter;

  font-size: 0.8em;

  p {
    color: $grayDarker;
  }
  
  
  .list_line_even {
    background:   #FFFFFF;
  }

  .list_line_odd {
    background:   #85CDB4;
  }
}
