%header#site-header
  .navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %button.btn.btn-navbar{'data-target' => '.nav-collapse', 'data-toggle' => 'collapse', 'type' => 'button'}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'Pull tracker', root_path, class: 'brand'
        .nav-collapse.collapse
          %ul.nav#site-nav
